:root {
  --main-color: #1e1d1f;
  --secondary-color: #1e96fc;
  --third-color: #ffd059;
  --fourth-color: #c86fc9;
  --fifth-color: #f8f4f9;
}

#app {
  color: var(--main-color);
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#align {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#get-location {
  height: 40px;
  font-size: 0.8rem;
  padding: 8px;
  border: var(--fourth-color) solid 2px;
  border-radius: 5px;
  background-color: white;
}
#get-location:hover {
  font-size: 0.85rem;
  color: var(--secondary-color);
  background-color: var(--third-color);
  border-color: var(--secondary-color);
}
#snapshot {
  padding-top: 15px;
}
